:root {
    --background-color: rgb(37, 44, 39);
    --text-color: rgba(29, 29, 29, 0.2);
    --font-color: rgb(255, 255, 255);
    --go-color: rgb(50, 187, 50);
    --light-go-color: hsl(120, 58%, 76%);
    font-family: "Roboto", sans-serif;
    background-color: var(--background-color);
}

@font-face {
    font-family: "Heavy Heap";
    src: url("fonts/heavy-heap-rg.otf") format("opentype")
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-wrap: wrap;
}

.left-side {
    width: 40%;
}

.image-container {
    display: inline-block;
    background-image: url("side-pic.jpg");
    background-color: #cccccc;
    background-size: cover;
    color: white;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    height: 100vh;
    width: 40vw;
    text-align: center;
}

.title {
    font-size: 60px;
    margin-top: 45vh;
    font-family: "Heavy Heap";
    background-color: var(--text-color, #1d1d1d);
}

.login > a {
    color: var(--go-color);
    font-weight: bold;
    text-decoration: none;
}

.forgot-password > a {
    color: black;
}

.right-side {
    width: 60%;
    color: var(--font-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

form {
    display: flex;
    flex-flow: row wrap;
}

.container {
    padding: 40px;
}

h1 {
    margin-bottom: 40px;
}

.form-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
}

.form-container > input {
    height: 40px;
    width: calc(20vw - 10px);
    border-radius: 5px;
    margin-right: 15px;
    margin-bottom: 20px;
    padding-left: 7px;
}

#create-btn {
    margin: 20px 0;
    padding: 10px 30px;
    font-size: 20px;
    background-color: var(--background-color);
    color: var(--go-color);
    font-weight: bold;
    border: none;
    border-radius: 5px;
    border-style: solid;
}

#create-btn:hover {
    cursor: pointer;
}

#create-btn:active {
    color: var(--light-go-color);
}

@media (max-width: 768px) {
    .left-side, .right-side {
        width: 100%;
    }
    
    .image-container {
        width: 100vw;
        height: 30vh;
    }

    .title {
        margin-top: 20vw;
    }

    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    h1 {
        text-align: center;
    }

    form {
        display: inline;
    }

    .form-container > input {
        height: 40px;
        width: calc(50vw - 10px);
        border-radius: 5px;
        margin-right: 15px;
        margin-bottom: 20px;
        padding-left: 7px;
    }

    #create-btn {
        width: calc(50vw - 10px);
    }
}
